In [1]:
# import necessary package
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [14]:
# load data
seattle_calendar=pd.read_csv('C:/Users/HP/Documents/DataScienceBlogPost/calendar.csv')
seattle_listings=pd.read_csv('C:/Users/HP/Documents/DataScienceBlogPost/listings.csv')
seattle_review=pd.read_csv('C:/Users/HP/Documents/DataScienceBlogPost/reviews.csv')

In [15]:
#Let's look first 5 row of the data and column information.
seattle_calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [16]:
seattle_calender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
listing_id    1393570 non-null int64
date          1393570 non-null object
available     1393570 non-null object
price         934542 non-null object
dtypes: int64(1), object(3)
memory usage: 26.6+ MB

In [ ]:
#There are 4 columns.
#Here, I found some charactoristics of the data.

#Not only available days are stored in data, it seems to be stored not available days.
#If the available values are f, the price values seems to be NaN.
#The price values are stored as object, not integer. This is caused the value stored like $xx.xx, and it is necessary to transform this column.
#In response to the result, now I have two question .

#If the available values are f, the price values seems to be NaN. But it is only a hypothesis, is it true all data?
#How many rows per each listing_id?
#Let's answer these questions with exploring data.

In [18]:
#  If the available values are f, the price values seems to be NaN. But it is only a hypothesis, is it true all data?
calendar_q1_df=seattle_calendar.groupby('available')['price'].count().reset_index()

In [19]:
calendar_q1_df.columns=['available', 'price_nonnull_count']
calendar_q1_df

  available  price_nonnull_count
0         f                    0
1         t               934542

In [23]:
#  How many rows per each listing_id?
calendar_q2_df=seattle_calender.groupby('listing_id')['date'].count().reset_index()
calendar_q2_df['date'].value_counts()

365    3818
Name: date, dtype: int64